@font-face {
  font-family: "Titillium Web";
  src: url("font/TitilliumWeb-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --main-bg-color: rgb(25, 78, 146);
  --bg-text: #00a47a;
  --color-DPE1: rgb(0, 156, 109);
  --color-DPE2: rgb(82, 177, 83);
  --color-DPE3: rgb(120, 189, 118);
  --color-DPE4: rgb(244, 231, 15);
  --color-DPE5: rgb(240, 181, 15);
  --color-DPE6: rgb(235, 130, 53);
  --color-DPE7: rgb(215, 34, 31);
  --color-GES1: rgb(164, 219, 248);
  --color-GES2: rgb(140, 180, 211);
  --color-GES3: rgb(119, 146, 177);
  --color-GES4: rgb(96, 111, 143);
  --color-GES5: rgb(77, 82, 113);
  --color-GES6: rgb(77, 82, 113);
  --color-GES7: rgb(40, 27, 53);
}

body {
  background-color: var(--main-bg-color);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-align: center;
  /* border: 0.1px solid brown; */
}

h1 {
  color: white;
  margin: 15px 5px;
  padding: 20px;
  font-family: "Titillium Web", sans-serif;
  border-bottom: 5px solid white;
}

.content {
  height: 350px;
}

#sectionDPE #sectionGES {
  max-height: 350px;
}

.lettrage {
  font-family: sans-serif;
  font-size: 0.6rem;
  font-weight: bolder;
  fill: white;
}
.lettrageG {
  font-family: sans-serif;
  font-size: 1.2rem;
  font-weight: bolder;
  fill: white;
}

#polygonesDPE {
  position: relative;
  border: 1px black solid;
}

.hiddenPolynom {
  fill-opacity: 0;
}
.displayPolynom {
  fill-opacity: 1;
}
.frame06 {
  stroke: black;
  stroke-width: 0.6;
}
.frame1 {
  stroke: black;
  stroke-width: 1;
}

.valueDPE {
  font-family: sans-serif;
  font-size: 0.6rem;
  font-weight: bolder;
  fill: black;
  text-anchor: middle;
}
.unitDPE {
  font-family: sans-serif;
  font-size: 0.18rem;
  font-weight: bolder;
  fill: black;
  text-anchor: middle;
}
.unitDPEsub {
  font-family: sans-serif;
  font-size: 0.13rem;
  font-weight: bolder;
  fill: black;
  text-anchor: middle;
}
.nrjPrimaire {
  font-family: sans-serif;
  font-size: 0.17rem;
  font-weight: bolder;
  fill: rgb(140, 140, 140);
  text-anchor: middle;
}
.logementPerf {
  font-family: sans-serif;
  font-size: 0.2rem;
  font-weight: bolder;
  fill: var(--color-DPE1);
}
.logementCons {
  font-family: sans-serif;
  font-size: 0.2rem;
  font-weight: bolder;
  fill: var(--color-DPE7);
}
.logementPeuEmis {
  font-family: sans-serif;
  font-size: 0.2rem;
  font-weight: bolder;
  fill: var(--color-GES2);
}
.logementPeuEmisInd {
  font-family: sans-serif;
  font-size: 0.15rem;
  font-weight: bolder;
  fill: var(--color-GES2);
}
.logementEmis {
  font-family: sans-serif;
  font-size: 0.2rem;
  font-weight: bolder;
  fill: var(--color-GES7);
}
.logementEmisInd {
  font-family: sans-serif;
  font-size: 0.15rem;
  font-weight: bolder;
  fill: var(--color-GES7);
}

.content {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: baseline;
  align-content: stretch;
}

#formulaire {
  max-height: 350px;
  width: 20%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  align-content: space-around;
}
/* .a {
  color: white;
  background-color: var(--color-DPE1);
  font-family: Calibri, "Trebuchet MS", sans-serif;
  font-style: normal;
  font-size: 1rem;
  border: 1px solid grey;
  border-radius: 3px;
  box-shadow: 4px 4px 5px 1px rgba(0, 0, 0, 0.71);
  -webkit-box-shadow: 4px 4px 5px 1px rgba(0, 0, 0, 0.71);
  -moz-box-shadow: 4px 4px 5px 1px rgba(0, 0, 0, 0.71);
} */

.Btn {
  text-decoration: none;
  max-width: 50%;
  min-height: 30px;
  border: 1px solid grey;
  border-radius: 10px;
  background-color: white;
  font-family: "Titillium Web", sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--main-bg-color);
  cursor: pointer;
  transition: 0.2s;
}

#outputDPE > canvas {
  max-height: 350px;
  display: none;
}
