@font-face {
  font-family: "Titillium Web";
  src: url("font/TitilliumWeb-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --main-bg-color: rgb(17, 36, 72);
  --alert-color: rgb(252, 67, 83);
  --bg-text: #00a47a;
  --color-DPE1: rgb(0, 156, 109);
  --color-DPE2: rgb(82, 177, 83);
  --color-DPE3: rgb(120, 189, 118);
  --color-DPE4: rgb(244, 231, 15);
  --color-DPE5: rgb(240, 181, 15);
  --color-DPE6: rgb(235, 130, 53);
  --color-DPE7: rgb(215, 34, 31);
  --color-GES1: rgb(164, 219, 248);
  --color-GES2: rgb(140, 180, 211);
  --color-GES3: rgb(119, 146, 177);
  --color-GES4: rgb(96, 111, 143);
  --color-GES5: rgb(77, 82, 113);
  --color-GES6: rgb(77, 82, 113);
  --color-GES7: rgb(40, 27, 53);
}

body {
  background-color: var(--main-bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-align: center;
  /* border: 0.1px solid brown; */
}
.headline {
  width: 98%;
}
h1 {
  color: white;
  margin: 10px 10px 40px 10px;
  padding: 20px;
  font-family: "Titillium Web", sans-serif;
  border-bottom: 5px solid white;
}

div {
  display: block;
}

/********   CSS pour les étiquettes   *****************/

.lettrage {
  font-family: sans-serif;
  font-size: 0.6rem;
  font-weight: bolder;
  fill: white;
}
.lettrageG {
  font-family: sans-serif;
  font-size: 1.2rem;
  font-weight: bolder;
  fill: white;
}

#polygonesDPE {
  position: relative;
  border: 1px black solid;
}

.hiddenPolynom {
  fill-opacity: 0;
}
.displayPolynom {
  fill-opacity: 1;
}
.frame06 {
  stroke: black;
  stroke-width: 0.6;
}
.frame1 {
  stroke: black;
  stroke-width: 1;
}

.valueDPE {
  font-family: sans-serif;
  font-size: 0.6rem;
  font-weight: bolder;
  fill: black;
  text-anchor: middle;
}
.unitDPE {
  font-family: sans-serif;
  font-size: 0.19rem;
  font-weight: bolder;
  fill: black;
  text-anchor: middle;
}
.nrjPrimaire {
  font-family: sans-serif;
  font-size: 0.17rem;
  font-weight: bolder;
  fill: rgb(140, 140, 140);
  text-anchor: middle;
}
.logementPerf {
  font-family: sans-serif;
  font-size: 0.2rem;
  font-weight: bolder;
  fill: var(--color-DPE1);
}
.logementCons {
  font-family: sans-serif;
  font-size: 0.2rem;
  font-weight: bolder;
  fill: var(--color-DPE7);
}
.logementPeuEmis {
  font-family: sans-serif;
  font-size: 0.2rem;
  font-weight: bolder;
  fill: var(--color-GES2);
}
.logementPeuEmisInd {
  font-family: sans-serif;
  font-size: 0.15rem;
  font-weight: bolder;
  fill: var(--color-GES2);
}
.logementEmis {
  font-family: sans-serif;
  font-size: 0.2rem;
  font-weight: bolder;
  fill: var(--color-GES7);
}
.logementEmisInd {
  font-family: sans-serif;
  font-size: 0.15rem;
  font-weight: bolder;
  fill: var(--color-GES7);
}

/************** FIN CSS étiquettes ******************/

.content {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: flex-start;
}

.main-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "n1 f1 f1 n2"
    "s1 f1 f1 s2"
    "s1 f2 f2 s2";
  align-items: center;
  padding: 20px;
  max-width: 1220px;
}

#formulaireDPE {
  grid-area: n1;
}
#formulaireGES {
  grid-area: n2;
}
#formulaireRsl {
  grid-area: f1;
  min-height: 200px;
  min-width: 300px;
}
#formulaireBtn {
  grid-area: f2;
  min-width: 300px;
  margin: 20px;

  /* align-content: flex-start; */
}
#formulaireBtn fieldset {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  grid-template-areas:
    "txt txt"
    "b1 b2";
  align-items: center;
  width: auto;
}
#sectionDPE {
  grid-area: s1;
}
#sectionGES {
  grid-area: s2;
}
#formulaireDPE,
#formulaireGES,
#formulaireRsl,
#sectionDPE,
#sectionGES {
  margin: 10px;
  height: 100px;
}

.Btn {
  margin: 10px;
  padding: 0px 15px;
  text-decoration: none;
  text-align: center;
  width: 100px;
  height: 40px;
  border: 1px solid grey;
  border-radius: 10px;
  background-color: white;
  font-family: "Titillium Web", sans-serif;
  font-size: 2rem;
  font-weight: bolder;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--main-bg-color);
  cursor: pointer;
  transition: 0.2s;
  box-shadow: 1px 1px 5px 0px rgba(15, 3, 116, 0.59);
  -webkit-box-shadow: 1px 1px 5px 0px rgba(15, 3, 116, 0.59);
  -moz-box-shadow: 1px 1px 5px 0px rgba(15, 3, 116, 0.59);
}
.Btn:hover {
  transform: scale(1.1);
}

.Btn:active {
  transform: scale(1.2);
  filter: brightness(130%);
  background-color: var(--color-DPE3);
}

.formulaire {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: space-evenly;
  color: white;
  text-decoration: none;
  border-radius: 10px;
  font-family: "Titillium Web", sans-serif;
}
.formulaire > fieldset {
  width: auto;
  min-width: 200px;
  /* margin: 20px; */
  border-radius: 10px;
  /* padding: 10px; */
}
.formulaire > fieldset > p {
  padding: 10px;
  font-size: 1.4rem;
  font-weight: bold;
}
#resolutionForm {
  text-align: left;
}

label {
  font-size: 1rem;
  padding: 10px;
  font-weight: lighter;
}
input[type="number"] {
  margin-bottom: 10px;
  font-size: 2rem;
  border-radius: 5px;
  max-width: 150px;
  font-weight: bold;
}

#formulaireDPE > p,
#formulaireGES > p {
  margin: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: space-evenly;
}
#outputDPE #outputGES > canvas {
  max-height: 350px;
  display: none;
}

.boutons {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: space-evenly;
  color: white;
  text-decoration: none;
  border-radius: 10px;
  font-family: "Titillium Web", sans-serif;
}

.boutons > p {
  padding: 10px;
  text-align: left;
  font-size: 1.4rem;
  font-weight: bold;
}
.boutons > div {
  display: flex;
  flex-direction: row;
}
#downloadTxt {
  grid-area: txt;
}
#downloadDPE {
  grid-area: b1;
}
#downloadGES {
  grid-area: b2;
}

@keyframes alertField {
  0% {
    background-color: white;
  }
  50% {
    background-color: var(--alert-color);
  }
  100% {
    background-color: white;
  }
}
@-webkit-keyframes alertField {
  0% {
    background-color: white;
  }
  50% {
    background-color: var(--alert-color);
  }
  100% {
    background-color: white;
  }
}

@keyframes alertColor {
  0% {
    color: white;
    border-color: white;
  }
  50% {
    color: var(--alert-color);
    border-color: var(--alert-color);
  }
  100% {
    color: white;
    border-color: white;
  }
}
@-webkit-keyframes alertColor {
  0% {
    color: white;
    border-color: white;
  }
  50% {
    color: var(--alert-color);
    border-color: var(--alert-color);
  }
  100% {
    color: white;
    border-color: white;
  }
}

.alertField {
  animation-name: alertField;
  animation-duration: 0.2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 2;
  animation-fill-mode: none;
  -webkit-animation-name: alertField;
  -webkit-animation-duration: 0.2s;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 2;
  -webkit-animation-fill-mode: none;
}

.alertColor {
  animation-name: alertColor;
  animation-duration: 0.2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 2;
  animation-fill-mode: none;
  -webkit-animation-name: alertColor;
  -webkit-animation-duration: 0.2s;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 2;
  -webkit-animation-fill-mode: none;
}

/***************responsive***************************/

@media screen and (max-width: 1220px) {
  .main-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto 1fr;
    grid-template-areas:
      "n1 f1 f1 n2"
      "s1 s1 s2 s2"
      "f2 f2 f2 f2";
    /* align-content: flex-start; */
    padding: 20px;
    justify-items: center;
  }
  #formulaireRsl {
    margin-bottom: 20px;
    max-width: 300px;
  }
  #formulaireDPE,
  #formulaireGES {
    width: 200px;
  }
}

@media screen and (max-width: 900px) {
  .main-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
      "n1 f1 f1 n2"
      "s1 s1 s1 s1"
      "s2 s2 s2 s2"
      "f2 f2 f2 f2";
    /* align-content: flex-start; */
    padding: 20px;
    justify-items: center;
  }
  #formulaireRsl {
    margin-bottom: 20px;
    max-width: 300px;
  }
  #formulaireDPE,
  #formulaireGES {
    width: 200px;
  }
  h1 {
    margin-bottom: 5px;
  }
}

@media screen and (max-width: 800px) {
  .main-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas:
      "n1 n2"
      "f1 f1"
      "s1 s1"
      "s2 s2"
      "f2 f2";
    /* align-content: flex-start; */
    padding: 20px;
    justify-items: center;
  }
  #formulaireRsl {
    margin-bottom: 20px;
    max-width: 300px;
  }
  #formulaireDPE,
  #formulaireGES {
    width: 200px;
  }
  h1 {
    margin-bottom: 0px;
  }
}

@media screen and (max-width: 560px) {
  .main-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-items: center;
  }
  #formulaireRsl {
    margin-bottom: 20px;
    max-width: 300px;
  }
  #formulaireDPE,
  #formulaireGES {
    width: 200px;
  }
  h1 {
    margin-bottom: 0px;
  }
  h1 > span {
    white-space: nowrap;
  }
}

@media screen and (max-width: 480px) {
  .main-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-items: center;
  }
  #formulaireRsl {
    margin-bottom: 20px;
    max-width: 300px;
  }
  #formulaireDPE,
  #formulaireGES {
    width: 200px;
  }
  h1 {
    margin: 5px 0px 0px 0px;
  }
  h1 > span {
    white-space: nowrap;
  }
  #svgDPE,
  #svgGES {
    width: 300px;
    height: 300px;
  }
  #sectionDPE,
  #sectionGES {
    margin-bottom: -90px;
  }
  .main-container {
    padding: 0px;
  }
}

@media screen and (max-width: 330px) {
  .main-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-items: center;
  }
  #formulaireRsl {
    margin: 10px 0px 20px 0px;
    max-width: 300px;
  }
  #formulaireDPE,
  #formulaireGES {
    width: 200px;
  }
  h1 {
    margin: 5px 0px 0px 0px;
  }
  h1 > span {
    white-space: nowrap;
  }
  #svgDPE,
  #svgGES {
    width: 300px;
    height: 300px;
  }
  #sectionDPE,
  #sectionGES {
    margin-bottom: -90px;
  }
  .main-container {
    padding: 0px;
  }
}
